/* src/App.css */

.logout-button {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 4px;
  background-color: var(--neon-pink); /* On utilise ta palette ! */
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 2rem;
}

.logout-button:hover {
  background-color: var(--raspberry-plum);
}